// Pagination
//
// Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
// there are no more previous or next posts to show.

.pagination {
  color: #7a7a7a;
//   color: var(--gray-500);
  margin-top: 1rem;
//   margin: 0 -1.5rem var(--spacer);
}

.pagination-item {
  background: var(--joe-bkg);
  display: block;
  margin-bottom: 1em;
  border-style: solid;
  border-color: var(--joe-body);
  border-radius: .5em;
  padding: .75em;
  box-shadow: .25em .25em var(--joe-body);
//   padding: var(--spacer);
//   border: solid var(--border-color);
}

// Only provide a hover state for linked pagination items
a.pagination-item:hover {
  background-color: #f1f3f5;
//   background-color: var(--border-color);
}

@media (min-width: 30em) {
  .pagination {
    display: flex;
    flex-wrap: wrap;
  }
  .pagination-item:first-child {
    margin-right: 10px;
    flex: 1;
    text-align: right;
  }
  .pagination-item:last-child {
    margin-left: 10px;
    flex: 1;
  }
}

