.aside img {
    width: 100%;
    border-color: var(--joe-body);
  border-radius: .5em;
  border-style: solid;
  box-shadow: .15em .15em var(--joe-body);
}
.aside .tagline {
  text-align: center;
}

.aside .tagline p {
  margin-bottom: 1em;
}